---
layout: layout.liquid
title: JSON API Test
---

<h1><strong>JSON API TEST</strong></h1>
<div class="flex-auto items-center" x-data="{thumbImage: $fetchjson('https://dummyjson.com/products/1', jsonItem='thumbnail'), price: $fetchjson('https://dummyjson.com/products/1', jsonItem='price')}">
	<img class="rounded-lg" alt="thumbnail" x-bind:src="thumbImage">
	<h2 class="text-lg font-semibold text-slate-500" x-text="price"></h2>
</div>